<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mixture + Compass{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1">
        {{ "styles.css" | asset_url | stylesheet_tag }}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
        

        <!-- TODO: Complete this project :) -->
    </head>
    <body>
        {% include "navigation" %}

        {% block content %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {{ "scripts.js" | asset_url | script_tag }}

    </body>
</html>