<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Batter — Layout{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ "styles.css" | asset_url | stylesheet_tag }}

    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>

      {{ "ie.css" | asset_url | stylesheet_tag }}
    <![endif]-->

    <!-- TODO: Complete this project :) -->
      
  </head>
  <body>
    
    {% include "navigation" %}

    {% block content %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {{ "scripts.js" | asset_url | script_tag }}
  </body>
</html>
