//Jon's Mixins
@mixin clearfix {
  &:before, &:after{
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
      clear: both;
  }
}

@mixin hover-active-focus($property, $value) {
  &:hover, &:active, &:focus {
      #{$property}: $value;
  }
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@function base($n, $round: false) {
  $result: $n * $baseline;

  @if $round == "up" {
    $result: ceil($result)
  } @else if $round == "down" {
    $result: floor($result)
  }

  @return $result;
}

@function toPx($n) {
  $result: 0px + $n;
  @return $result;
}

@function toRem($n) {
  $result: 0rem + $n / $base-font-size;
  @return $result;
}

@mixin set-font($family, $size, $weight) {
  font:{
    family: $family;
    weight: $weight;
  }
  @include set-font-size($size);
}

@mixin set-font-size($size) {
  font-size: toPx($size);
  font-size: toRem($size);
}

@mixin image-fix {
  -webkit-backface-visibility: hidden; //fixes jittering on image animations
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation($animation) {
  -webkit-animation: $animation; 
  -moz-animation:    $animation;
  -o-animation:      $animation;
  animation:         $animation;
}

