@import "compass";

//Jon's Mixins
@mixin set-font($family, $size, $weight){
  font:{
    family: $family;
    size: $size;
    weight: $weight;
  }
}

@mixin clearfix{
  &:before, &:after{
    display: table;
    content: "";
  }
  &:after {
      clear:both;
  }
}

@mixin full-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

@mixin cover($url) {
  background: url($url) no-repeat center center fixed;
  @include background-size(cover); 
}

@mixin hover-active-focus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

@mixin hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

//Some css
html, body {
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

//Vertical Rhythm
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom:1.5rem;
}