@import "compass";
@import "normalize";

@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";

html {
  background-color: $color-background;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.vertical-align--table {
	display: table;
	.vertical-align--table-cell{
		display: table-cell;
		vertical-align: middle;
	}
}

//You can delete this stuff
html, body {
	height: 100%;
}

.batter {
	width: 100%;
	height: 100%;
	h1{
		text-align: center;
	}
}

.grid{
	margin-top: base(2);
}
.grid div{
	height: 32px;
	margin-bottom: $gutter-width;
	background-clip: content-box;
	background-color: darken($color-background, 8);
}