// You can call the complete framework, but if only using certain 
// features just call them individually (will improve compilation speed)
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

// Jon's reset css
$open-sans: 'Open Sans', sans-serif;

@mixin setFont($family, $size, $weight){
  font:{
    family: $family;
    size: $size;
    weight: $weight;
  }
}
@mixin clearfix{
  &:before, &:after{
    display: table;
    content: "";
  }
  &:after {
      clear:both;
  }
}

@mixin fullHeight {
  position: absolute;
  top: 0;
  bottom: 0;
}

@mixin cover($url) {
  background: url($url) no-repeat center center fixed;
  @include background-size(cover); 
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}
@mixin hideText{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

html {
  background-color: whitesmoke;
  color: #333;
  @include setFont($open-sans, 16px, 400);
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
article, section{
    margin-bottom:1.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

.container{
  max-width: 980px;
  width: 92%;
  margin: 0 auto;
  @media screen and (max-width:1060px){}
}
