@import "noncompile";
@import "typography";

html {
  background-color: whitesmoke;
}

.container{
  width: 960px;
  margin: 0 auto;
  @media screen and (max-width:1034px){
    width: auto;
    margin: 0 30px;
  }
}

