@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 8px;
  padding-top: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

html {
  color: #3a3a3a;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
}

::-moz-selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  color: #4a4a4a;
  line-height: 1.1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

html {
  background-color: whitesmoke;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.vertical-align--table {
  display: table;
}
.vertical-align--table .vertical-align--table-cell {
  display: table-cell;
  vertical-align: middle;
}

html, body {
  height: 100%;
}

.batter {
  width: 100%;
  height: 100%;
  text-align: center;
}
