{% block title %}Page Title{% endblock %}
{% block content %}

	{% include "navigation" %}

	<div class="batter vertical-align--table">
		<div class="vertical-align--table-cell">
			<h1>Batter</h1>
		</div>
	</div>

{% endblock %}
