{% block title %}index{% endblock %}
{% block content %}
	<div class="container">
		
		<ul>
			<li>@mixin clearfix</li>
			<li>@mixin setFont($family, $size, $weight)</li>
			<li>@mixin fullHeight</li>
			<li>@mixin cover($url)</li>
			<li>@mixin hoverActiveFocus($property, $value)</li>
		</ul>
	</div>
{% endblock %}