{% block title %}Page Title{% endblock %}
{% block content %}
	<div class="container">
<<<<<<< HEAD
		<div class="testblock break-container">
			<p>.break-container example (resize window)</p>
		</div>
=======
		
>>>>>>> c751f0cbe52d911908d34e97cc1ff0a9cea1efd9
	</div>
{% endblock %}
